<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small>
      <time><%= post.created_at.to_datetime.strftime("%d %B, %Y") %></time>
      |
      <%= link_to t('common.edit'), edit_post_path(post) %>
      |
      <%= link_to t('common.remove'), post_path(post), method: :delete, data:{confirm: 'Are you sure?'} %>
    </small>
  </section>

  <section class="post-content summary clearfix">
    <%= image_tag post.image.url(:thumb), class: 'img-thumbnail thumb' if post.image? %>
    <%= post.summary %>
  </section>
</article>
